.App {
  text-align: center;
  /* width: 1200px;
  height: 100px; */
}
.item{
  width: 200px;
  height: 40px;
  border: 1px solid blue;
  display: inline-block;
  padding-top: 12px;
}
.bold{
  font-size: 16px;
  color:red;
  font-weight: bold;
}
h1{
  color: blue;
}
button{
  margin: 2px;
  width: 80px;
  height: 20px;
}
/* hi this is changed */